.form-simple .font-small {
    font-size: 0.8rem; }
  
    .center
    {
       position: relative;
        margin-left:auto;
        margin-right: auto;   
        height:600px;
        width: 400px;
        align-items: center;
        margin-bottom: 30px;
        padding:20px
    }

    .space{
        margin-bottom: 20px;
    }
    .btnstyle{
        
        
        margin-top: 250px;
        margin-bottom: 20px;
        margin-left: 9%;
      
    }
    .submit{
       
        margin-top: 30px;
        margin-bottom: 40px;
        padding: 10px;
      }

      .avatar {
        margin: 10px;
        background-color: red;
      }
    .textf{
        width: 40px;
    }
    .center1
    {
        
        margin-top: 250px;
        display: inline-block;
       
        padding: 0;
       
    }

    .center2
    {
        padding-bottom: 40px;
        background-color: rgb(248, 254, 255) ;
        justify-content: center;
        margin-left:auto;
        margin-right: auto;   
        height: auto;
        width: auto;
        max-width: 450px;
        margin-bottom: 40px;
        margin-top: 200px;
       
        padding:20px;
        padding-bottom: 10px;
        
    }

   .btncss
    {
        color:white;
        background-color:rgb(15, 109, 197);
        text-align: center;
    }

    .spacing{
        margin-top: 20px;
        margin-bottom: 10px;
        align-self: center ;
    }
    .title{
        color: cornflowerblue;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .labelname{
        padding: 0.8px;
        color: rgb(2, 16, 41);
        font: bold;
        font-size: 20px;
        border-spacing: 10px;
    }
   
.filetype
{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    margin: 10px auto;
    line-height: 30px;
    color: var(--primary);
    font-weight: bold;
    font-size: 24px;
        
    }
    input[type=file]::-webkit-file-upload-button {
        border: 1px solid grey;
        background: #ffffff;
        
        
        
      }

      .backimage
      {
          background-image: url("https://ibb.co/wwcFmPR");
      }